.css-12cnpfr {
    left: 0px;
    top: 64px;
    width: 100%;
    position: absolute;
    background-color: rgb(255, 204, 0);
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 360px;
    text-align: center;
    background-size: auto 360px;
}

.css-16bsvcn {
    z-index: 1; 
    font-size: 36px;
    line-height: 44px;
    text-align: center;
     position: relative; 
    color: rgb(51, 51, 51);
    font-weight: 400;
    margin-top: 32px;
    max-width: 330px;
}

@media (min-width: 575.98px) {
    .css-16bsvcn {
        margin: auto;
        margin-top: 72px;
        margin-bottom: 15px;
        max-width: 592px;
    }
}

.css-1ukbpq9 {
    width: 50%;
    height: 48px;
    border-radius: 8px;
    font-weight: lighter;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
    line-height: 20px;
    font-family: Roboto;
    border: 1px solid rgb(153, 153, 153);
    padding-right: 20px;
    margin: auto;
    z-index: 1;
    padding-left: 48px;
    font-size: 16px;
    max-width: 100%;
}

.css-1adoodw {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 100%;
}

